.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100%;

  & > {
    svg {
      width: 100%;
      max-width: 200px;
      height: 100%;

      & > circle {
        fill: none;
      }
    }
  }
}

.oneCircle {
  stroke: var(--accent-one);
  stroke-width: 8px;
}

.twoCircle {
  stroke: var(--white-color);
  stroke-linecap: round;
  stroke-width: 6px;
}
