@import '../../../app/styles/mixins.scss';

.btn {
  position: absolute;
  bottom: step(2);
  right: step(2);
  width: 45px;
  height: 45px;
  background-color: var(--accent-two);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #00000090;

  & > svg {
    width: 100%;
    height: 100%;
    padding: step(2);
    fill: var(--white-color);
  }
}
